@import url('https://fonts.cdnfonts.com/css/trump-town-pro');
@import url('https://fonts.cdnfonts.com/css/titillium');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Titillium", sans-serif;
    text-align: center;
    background-color: #FEBE10;
    color: black;
}

.game-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#game-section-h1, #trophy-h1{
    font-family: 'Trump Town Pro', sans-serif;
    letter-spacing: 0.1em;
    font-size: 10em;
    font-weight: bold;
    text-shadow: 0.04em 0.04em #EE324E;
    margin-bottom: 0.5em;
}

#trophy {
    color: #a46628;
}

i {
    font-size: 0.5em;
}

#start-button, #try-again, .modal-content button {
  font-size: 3em;
  padding: 0.3em 1.5em;
  border-radius: 0.2em;
  letter-spacing: 0.08em;
  background-color: #EE324E;
  font-weight: bold;
  font-family: 'Trump Town Pro', sans-serif;
  box-shadow: 0 0.09em 0.1em rgba(59, 57, 57, 0.7);
}

#try-again {
    margin-top: 1em;
}

#start-button:hover, #try-again:hover {
    background-color: #00529F;
    color: beige;
}

/* --------------------------------------MODAL-------------------------------------- */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 60%;
    max-width: 55em;
    max-height: 30em;
    padding: 1em;
    border-radius: 0.6em;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 82, 159, 0.95);
    box-shadow: 0px 0px 10px #242323;
}

.modal-content h2 {
    font-family: 'Trump Town Pro', sans-serif;
    color: beige;
    letter-spacing: 0.1em;
    font-size: 4em;
    margin-bottom: 0.5em;
}

input[type="text"] {
    padding: 0.6em;
    font-size: 1.5em;
    outline: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.3em;
}

.modal-content button {
    font-size: 2.5em;
    color: beige;
    margin-top: 1.5em;
}
  
.modal-content button:hover {
    background-color: #FEBE10;
    color: black;
}

.error-message {
    color: black;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-shadow: 0.07em 0.05em #EE324E;
}

.hide {
    display: none;
}

/* Copied "animatezoom" animation from:
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_modal4 */
.animate-zoom {
    animation: animatezoom 0.6s
}

/* Copied "animatezoom" animation from:
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_modal4 */
@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* --------------------------------------CATEGORY LIST-------------------------------------- */
.category-list-h2 {
    font-family: 'Trump Town Pro', sans-serif;
    letter-spacing: 0.1em;
    font-size: 7em;
    font-weight: bold;
    text-shadow: 0.04em 0.04em #EE324E;
    margin-bottom: 0.5em;
}

.category-item {
    cursor: pointer;
    list-style: none;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
  
.category-item:hover {
    color: blue;
    font-weight: bold;
}

#question-container {
    text-align: center;
}
  
#question {
    font-family: 'Trump Town Pro', sans-serif;
    font-size: 3em;
    margin-bottom: 0.6em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.answer {
    font-size: 2em;
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 0.3em;
    cursor: pointer;
}
  
.answer:hover {
    background-color: beige;
}
  
.correct {
    background-color: green !important;
    color: beige;
}

.wrong {
    background-color: #EE324E !important;
    color: beige;
}

#options div {
    width: 65%;
}

#question-container #options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#next-button {
    font-size: 1em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    letter-spacing: 0.08em;
    background-color: #00529F;
    color: beige;
    font-weight: bold;
    margin-top: 1.5em;
    box-shadow: 0 0.09em 0.1em rgba(59, 57, 57, 0.7);
}

#encouragement-message {
    font-size: 1.5em;
    font-weight: bold;
    color: #00529F;
    margin-top: 0.5em;
}

/* --------------------------------------END GAME-------------------------------------- */
#end-game-header {
    font-family: 'Trump Town Pro', sans-serif;
    letter-spacing: 0.1em;
    font-size: 7em;
    font-weight: bold;
    text-shadow: 0.04em 0.04em #EE324E;
    margin-bottom: 0.5em;
}

.game-info {
    letter-spacing: 0.1em;
    font-size: 1.5em;
    text-shadow: 0.04em 0.04em black;
    margin-bottom: 0.5em;
}

#user-message {
    font-family: 'Trump Town Pro', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0.04em 0.04em #EE324E;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

#final-score {
    font-family: 'Trump Town Pro', sans-serif;
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0.04em 0.04em #EE324E;
    margin-bottom: 0.5em;
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .modal-content {
        width: 50%;
        height: 55%;
    }

    .modal-content button {
        margin-top: 1em;
    }

    #next-button {
        font-size: 1.5em;
    }
    
    #encouragement-message {
        font-size: 2em;
    }

    .game-info {
        font-size: 2em;
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
    #game-section-h1 {
        font-size: 6.5em;
    }

    #start-button, #try-again {
        font-size: 2em;
    }

    #end-game-header {
        font-size: 6em;
    }

    #trophy-h1 {
        margin-bottom: 0em;
    }

    #final-score {
        margin-bottom: 0em;
    }

}
@media screen and (min-width: 300px) and (max-width: 767px) {
    #game-section-h1 {
        font-size: 3.5em;
    }

    #start-button {
        font-size: 2em;
    }

    .modal-content {
        width: 72%;
        height: 45%;
    }

    .modal-content h2 {
        font-size: 2em;
    }

    input[type="text"] {
        font-size: 1em;
    }

    .modal-content button {
        font-size: 1.5em;
        margin-top: 1em;
    }

    .error-message {
        font-size: 1em;
    }

    .category-list-h2 {
        font-size: 2em;
    }
    
    .category-item {
        font-size: 1em;
    }

    #question {
        font-size: 1.5em;
    }
    
    .answer {
        font-size: 1em;
    }

    #encouragement-message {
        font-size: 1em;
    }

    #end-game-header {
        font-size: 1.5em;
    }

    .game-info {
        font-size: 1em;
    }

    #user-message {
        font-size: 1em;
    }

    #trophy-h1 {
        font-size: 5em;
        margin-bottom: 0em;
    }

    #final-score {
        font-size: 1em;
        margin-bottom: 0em;
    }

    #try-again {
        font-size: 1em;
    }

}